@import "src/scss/variables";
@import "src/scss/mixins";

.card-deck {
  justify-content: center;

  .card {
    padding: 1.2rem;
    transition: .2s ease-in-out;
    border-radius: $borderRadius;
    border: none;
    text-align: left;

    @media all and (max-width: $media-breakpoint-md) {
      max-width: none !important;
    }

    &:hover, &:focus {
      text-decoration: none;
      margin-top: -10px;
    }

    &.bg-blue {
      background-image: linear-gradient(to right, #4C9FFB, #007AFF);
      @include box-shadow(null, 0px, 10px, 28px, -12px, rgba(0, 112, 255, 1));

      .card-title {
        color: #C4D1FD;
      }
    }

    &.bg-red {
      background-image: linear-gradient(to right, #f88477, #F86C6B);
      @include box-shadow(null, 0px, 10px, 28px, -12px, rgba(248, 108, 107, 1));

      .card-title {
        color: #fdc6b0;
      }
    }

    &.bg-orange {
      background-image: linear-gradient(to right, #F8EE05, #F8CB00);
      @include box-shadow(null, 0px, 10px, 28px, -12px, rgba(248, 203, 0, 1));

      .card-title {
        color: #fcffc1;
      }
    }

    &.bg-green {
      background-image: linear-gradient(to right, #5FE087, #4DBD74);
      @include box-shadow(null, 0px, 10px, 28px, -12px, rgba(77, 189, 116, 1));

      .card-title {
        color: #c5ffc8;
      }
    }

    .card-title {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    .card-subtitle {
      font-size: 3rem;
    }

    .icon {
      font-size: 3rem;
      float: right;
    }

    .pi-spinner {
      margin-top: 1rem;
    }

  }
}

.quick-links {
  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .pi-spinner {
    font-size: 4rem;
  }

  .card {
    border: 0;
  }
}

.text-black-50 {
  @media (prefers-color-scheme: dark) {
    color: gray !important;
  }
}
