<div class="animated fadeIn container p-5">

  <p-toast [baseZIndex]="2000"></p-toast>

  <div class="card-deck mb-5">

    <a routerLink="/teachers" class="card text-white bg-blue mb-3" style="max-width: 18rem;">
      <h2 class="card-title">DOCENTI</h2>
      <p class="card-subtitle"><i class="pi pi-spin pi-spinner" *ngIf="nTeachers === null"></i>{{ nTeachers }}<i
        class="icon cil-user"></i></p>
    </a>

    <a routerLink="/employees" class="card text-white bg-red mb-3" style="max-width: 18rem;">
      <h2 class="card-title">DIPENDENTI</h2>
      <p class="card-subtitle"><i class="pi pi-spin pi-spinner" *ngIf="nEmployees === null"></i>{{ nEmployees }}<i
        class="icon cil-people"></i></p>
    </a>

    <a routerLink="/courses" class="card text-white bg-orange mb-3" style="max-width: 18rem;">
      <h2 class="card-title">CORSI</h2>
      <p class="card-subtitle"><i class="pi pi-spin pi-spinner" *ngIf="nCourses === null"></i>{{ nCourses }}<i
        class="icon cil-bolt"></i></p>
    </a>

    <a routerLink="/marks" class="card text-white bg-green mb-3" style="max-width: 18rem;">
      <h2 class="card-title">VALUTAZIONI</h2>
      <p class="card-subtitle"><i class="pi pi-spin pi-spinner" *ngIf="nMarks === null"></i>{{ nMarks }}<i
        class="icon cil-check"></i></p>
    </a>

  </div>

  <hr/>

  <div class="quick-links row">
    <div class="col-md-4 text-center">
      <h3>Corsi in avvio</h3>
      <h4>I primi 5 corsi che inizieranno</h4>
      <div *ngIf="courses.incoming === null" class="text-center">
        <i class="pi pi-spin pi-spinner"></i>
      </div>
      <ng-container *ngIf="courses.incoming !== null">
        <p *ngIf="courses.incoming.length === 0" class="text-black-50 font-italic">Nessun corso in avvio</p>
        <app-course-list *ngFor="let course of courses.incoming" [id]="course.corsoId" [tipologia]="course.tipologia"
                         [tipo]="course.tipo" [dataErogazione]="course.dataErogazione"></app-course-list>
      </ng-container>
    </div>
    <div class="col-md-4 text-center">
      <h3>Corsi in svolgimento</h3>
      <h4>Corsi in svolgimento in questo periodo</h4>
      <div *ngIf="courses.ongoing === null" class="text-center">
        <i class="pi pi-spin pi-spinner"></i>
      </div>
      <ng-container *ngIf="courses.ongoing !== null">
        <p *ngIf="courses.ongoing.length === 0" class="text-black-50 font-italic">Nessun corso in svolgimento</p>
        <app-course-list *ngFor="let corso of courses.ongoing" [id]="corso.corsoId" [tipologia]="corso.tipologia"
                         [tipo]="corso.tipo" [dataErogazione]="corso.dataErogazione"
                         [dataChiusura]="corso.dataChiusura"></app-course-list>
      </ng-container>
    </div>
    <div class="col-md-4 text-center">
      <h3>Corsi conclusi</h3>
      <h4>Ultimi 5 corsi conclusi</h4>
      <div *ngIf="courses.finished === null" class="text-center">
        <i class="pi pi-spin pi-spinner"></i>
      </div>
      <ng-container *ngIf="courses.finished !== null">
        <p *ngIf="courses.finished.length === 0" class="text-black-50 font-italic">Nessun corso concluso di recente</p>
        <app-course-list *ngFor="let corso of courses.finished" [id]="corso.corsoId" [tipologia]="corso.tipologia"
                         [tipo]="corso.tipo" [dataChiusura]="corso.dataChiusura"></app-course-list>
      </ng-container>
    </div>
  </div>

</div>
