<div class="animated fadeIn container-fluid mb-md-3">

  <ng-container *ngIf="course !== null || operation === Operation.CREATE">
    <a *ngIf="(operation === Operation.READ || operation === Operation.UPDATE) && deleted === null"
       class="btn btn-danger float-sm-right mr-1 color-white" (click)="showDialog()"><span class="cil cil-trash"></span>&nbsp;Elimina
    </a>

    <a *ngIf="operation === Operation.READ && deleted === null" [routerLink]="['', 'courses', 'edit', id]"
       class="btn btn-warning float-sm-right mr-1"><span class="cil cil-pencil"></span>&nbsp;Modifica
    </a>

    <a *ngIf="course !== null && deleted === null" [routerLink]="['', 'marks', id]"
       class="btn btn-secondary float-sm-right mr-1"><span
      class="cil cil-check"></span>&nbsp;Valutazioni</a>

    <a *ngIf="deleted !== null && operation !== Operation.CREATE"
       class="btn btn-danger float-sm-right mr-1 color-white" (click)="deleteDefinitively()"><span
      class="cil cil-trash"></span>&nbsp;Elimina definitivamente
    </a>

    <a *ngIf="deleted !== null && operation !== Operation.CREATE"
       class="btn btn-success float-sm-right mr-1 color-white" (click)="restore()"><span
      class="fa fa-upload"></span>&nbsp;Recupera</a>

    <h3>
      {{ (operation === Operation.CREATE ? 'Inserisci' : operation === Operation.READ ? 'Dettagli' : 'Modifica') + ' corso' }}
      <p-message severity="warn" text="Si tratta di un corso che è stato cestinato!"
                 *ngIf="deleted !== null  && operation !== Operation.CREATE"></p-message>
    </h3>
    <p *ngIf="operation !== Operation.READ">I campi segnati con * sono obbligatori</p>
    <p *ngIf="operation === Operation.READ">&nbsp;</p>

    <div style="clear: both"></div>

    <div class="pb-3" style="margin-top: -2rem">
      <p-tabView>
        <p-tabPanel header="Corso" leftIcon="cil cil-bolt">
          <form [formGroup]="form" class="pt-3 pl-3 pr-3 pb-3" novalidate>
            <div class="form-group row">
              <div class="col-md-2 my-auto">
                <h5>Generali:</h5>
              </div>
              <div class="col-md-4">
                <label for="tipologia">Tipologia *</label><br/>
                <p-selectButton [(ngModel)]="tipologia" [options]="dictionaries?.tipologie" class="ui-fluid"
                                formControlName="tipologia" id="tipologia" optionLabel="descrizione"></p-selectButton>
              </div>
              <div class="col-md-3">
                <label for="tipo">Tipo *</label><br/>
                <select [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" class="form-control"
                        formControlName="tipo"
                        id="tipo" *ngIf="operation !== Operation.READ">
                  <option *ngIf="dictionaries === null" disabled>Caricamento...</option>
                  <ng-container *ngIf="dictionaries !== null">
                    <option hidden selected>Seleziona il tipo</option>
                    <option *ngFor="let type of dictionaries.tipi" [value]="type.tipoId">{{ type.descrizione }}</option>
                  </ng-container>
                </select>
                <input *ngIf="operation===Operation.READ" [readOnly]="operation === Operation.READ" class="form-control"
                       [value]="tipo" pInputText type="text">
                <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                  <div *ngIf="f.tipo.errors.required"><i class="fa fa-times-circle mr-1"></i>Tipo non valido...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="descrizione">Descrizione</label>
                <input [readOnly]="operation === Operation.READ" class="form-control" formControlName="descrizione"
                       id="descrizione" pInputText
                       [placeholder]="operation !== Operation.READ ? 'Inserisci la descrizione': ''" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Dettagli:</h5>
              </div>
              <div class="col-md-4">
                <label for="luogo">Luogo *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.luogo.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="luogo" id="luogo" pInputText placeholder="Inserisci il luogo"
                       type="text">
                <div *ngIf="submitted && f.luogo.errors" class="invalid-feedback">
                  <div *ngIf="f.luogo.errors.required"><i class="fa fa-times-circle mr-1"></i>Luogo non valido...</div>
                </div>
              </div>
              <div class="col-md-1">
                <label>Previsto *</label><br>
                <p-inputSwitch (onChange)="changeStatus('p')" formControlName="previsto"
                               id="previsto" name="previsto">Previsto
                </p-inputSwitch>
              </div>
              <div class="col-md-1">
                <label>Erogato *</label><br>
                <p-inputSwitch (onChange)="changeStatus('e')" formControlName="erogato" id="erogato"
                               name="erogato">Erogato
                </p-inputSwitch>
              </div>
              <div class="col-md-4">
                <label for="edizione">Edizione</label>
                <input [readOnly]="operation === Operation.READ" class="form-control" formControlName="edizione"
                       id="edizione" pInputText [placeholder]="operation !== Operation.READ ? 'Inserisci edizione': ''"
                       type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Durata:</h5>
              </div>
              <div class="col-md-2">
                <label for="durata">Durata *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.durata.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="durata" id="durata" pInputText pKeyFilter="int"
                       placeholder="Inserisci la durata"
                       type="text">
                <div *ngIf="submitted && f.durata.errors" class="invalid-feedback">
                  <div *ngIf="f.durata.errors.required"><i class="fa fa-times-circle mr-1"></i>Durata non valida...</div>
                </div>
                <p-selectButton [(ngModel)]="misura" [options]="dictionaries?.misure" class="ui-fluid"
                                formControlName="misura" id="misura" optionLabel="descrizione"></p-selectButton>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <label for="dataErogazione">Data erogazione</label><br/>
                <p-calendar [monthNavigator]="true"
                            [showIcon]="true" [yearNavigator]="true" class="ui-fluid"
                            dateFormat="dd/mm/yy"
                            formControlName="dataErogazione" id="dataErogazione"
                            [placeholder]="operation !== Operation.READ ? 'dd/mm/yyyy': ''"
                            yearRange="1970:2050"></p-calendar>
              </div>
              <div class="col-md-2">
                <label for="dataChiusura">Data chiusura</label><br/>
                <p-calendar [monthNavigator]="true"
                            [showIcon]="true" [yearNavigator]="true" class="ui-fluid"
                            dateFormat="dd/mm/yy"
                            formControlName="dataChiusura" id="dataChiusura"
                            [placeholder]="operation !== Operation.READ ? 'dd/mm/yyyy': ''"
                            yearRange="1970:2050"></p-calendar>
              </div>
              <div class="col-md-2">
                <label for="dataCensimento">Data censimento</label><br/>
                <p-calendar [monthNavigator]="true"
                            [showIcon]="true" [yearNavigator]="true" class="ui-fluid"
                            [maxDate]="today"
                            dateFormat="dd/mm/yy"
                            formControlName="dataCensimento" id="dataCensimento"
                            [placeholder]="operation !== Operation.READ ? 'dd/mm/yyyy': ''"
                            yearRange="1970:2050"></p-calendar>
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Referenze:</h5>
              </div>
              <div class="col-md-3">
                <label for="ente">Ente *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.ente.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="ente" id="ente" pInputText placeholder="Inserisci l'ente"
                       type="text">
                <div *ngIf="submitted && f.ente.errors" class="invalid-feedback">
                  <div *ngIf="f.ente.errors.required"><i class="fa fa-times-circle mr-1"></i>Ente non valido...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="societa">Societa *</label><br/>
                <p-autoComplete (completeMethod)="filterCompanies($event)"
                                [(ngModel)]="company" [delay]="0" [inputStyle]="{'width':'100%'}"
                                *ngIf="operation !== Operation.READ"
                                [style]="{'width':'100%'}"
                                [inputStyleClass]="submitted && f.societa.errors ? 'is-invalid' : null"
                                [suggestions]="companies" field="ragioneSociale" formControlName="societa"
                                id="societa"
                                placeholder="Inserisci la società"
                                required styleClass="primeng-autocomplete-form-control readonly"></p-autoComplete>
                <input *ngIf="operation===Operation.READ" [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="societa" [value]="societa" pInputText type="text">
                <div *ngIf="submitted && f.societa.errors" class="invalid-feedback" style="display: block">
                  <i class="fa fa-times-circle mr-1"></i>Società non valida...
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                <label for="interno">Personale Interno *</label><br>
                <p-inputSwitch formControlName="interno" id="interno" name="interno"></p-inputSwitch>
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Altro:</h5>
              </div>
              <div class="col-md-5">
                <label>Note</label>
                <textarea [readOnly]="operation === Operation.READ" class="form-control" formControlName="note"
                          id="note" pTooltip="Per un massimo di 200 caratteri."
                          placeholder="Inserisci note generiche riguardo il corso (facoltativo) ..." rows="2"
                          tooltipPosition="top"></textarea>
              </div>
              <div class="col-md-1"></div>
              <div *ngIf="this.operation !== Operation.CREATE" class="col-md-2">
                <label>Valutazioni</label>
                <p-progressBar [value]="marks * 100 / 3" [showValue]="false">
                </p-progressBar>
              </div>
            </div>
            <div *ngIf="operation === Operation.CREATE || operation === Operation.UPDATE" class="form-group row">
              <div class="col-md-12 text-right">
                <input (click)="takeAction()" [disabled]="loading"
                       [value]="id ? 'Modifica' : 'Inserisci'"
                       class="btn btn-success rounded" type="submit">
              </div>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel *ngIf="operation !== Operation.CREATE" header="Docenti" leftIcon="cil cil-user">
          <div class="row p-3">
            <div *ngIf="operation !== Operation.READ" class="col-md-3">
              <h3>Aggiungi docente</h3>
              <p>Cerca per ragione sociale (docente esterno) o cognome e nome (dipendente)</p>

              <div *ngIf="tables['teachers'].selected.length > 0" class="mt-1">
                <p>
                  <b>Docenti selezionati: </b>
                  <button (click)="toggleSelected('teachers', i, true)"
                          *ngFor="let selected of tables['teachers'].selected; let i = index"
                          class="btn btn-primary btn-sm color-white m-1">
                    <i [ngClass]="{ 'cil-user': selected.docente, 'cil-people': selected.dipendente }"
                       class="cil"></i> {{ selected.visualizza }}
                  </button>
                </p>

                <p class="text-right">
                  <button (click)="pair('teachers')" class="btn btn-success pl-4 pr-4 mt-2"><i
                    class="cil cil-check mr-1"></i>Abbina selezionati
                  </button>
                </p>
              </div>

              <div class="input-group mt-3 mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="cil cil-people" style="line-height: 1.25;"></i></span>
                </div>
                <input #teachers (input)="suggest('teachers', $event)" aria-label="Username" class="form-control"
                       placeholder="Cerca fra docenti e dipendenti" type="text">
              </div>

              <p *ngIf="tables['teachers'].suggestions === null" class="text-black-50">
                Scrivi almeno 3 caratteri per avviare la ricerca
              </p>

              <p *ngIf="tables['teachers'].suggestions?.length === 0" class="text-black-50">
                Nessun risultato trovato
              </p>

              <div *ngIf="tables['teachers'].suggestions?.length > 0" class="mt-2 suggestions">
                <a (click)="toggleSelected('teachers', i)"
                   *ngFor="let suggest of tables['teachers'].suggestions; let i = index"
                   [ngClass]="{ 'selected': false }">
                  <i [ngClass]="{ 'cil-user': suggest.docente, 'cil-people': suggest.dipendente }"
                     class="cil"></i> {{ suggest.visualizza }}
                </a>
              </div>
            </div>
            <div [ngClass]="{ 'col-md-9': operation !== Operation.READ, 'col-md-12': operation === Operation.READ }">
              <app-advanced-table
                (actionBtnEvent)="actionBtnClicked('teachers', $event)"
                (changeResultsPerPageEvent)="changeResultsPerPage('teachers', $event)"
                (loadLazyEvent)="lazyLoad('teachers', $event)"
                (pageChanged)="pageChanged('teachers', $event)"
                *ngIf="tables && tables['teachers']"
                [actions]="operation !== Operation.READ ? tables['teachers'].actions : []"
                [class]="['table-hover', 'table-responsive-xl']"
                [columns]="tables['teachers'].columns"
                [enableChangeResultsPerPage]="tables['teachers'].enableChangeResultsPerPage"
                [exportAsCSV]="tables['teachers'].exportAsCSV"
                [loading]="tables['teachers'].loading"
                [resultsPerPage]="tables['teachers'].resultsPerPage"
                [rowClickable]="tables['teachers'].rowClickable"
                [rowID]="tables['teachers'].rowID"
                [rows]="tables['teachers'].rows"
                [search]="tables['teachers'].search"
                [singleSort]="tables['teachers'].sortable"
                [totalRecords]="tables['teachers'].totalRecords"
                (rowClickedEvent)="rowClicked('teachers', $event)"
                (searchEvent)="searchFn('teachers', $event)">
              </app-advanced-table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel *ngIf="operation !== Operation.CREATE" header="Dipendenti" leftIcon="cil cil-people">
          <div class="row p-3">
            <div *ngIf="operation !== Operation.READ" class="col-md-4">
              <h3>Aggiungi dipendenti</h3>
              <p>Imposta una durata e poi cerca per cognome e nome. La durata selezionata verr&agrave; applicata a tutti
                i dipendenti che selezionerai.</p>

              <div *ngIf="tables['employees'].selected.length > 0" class="mt-1">
                <p>
                  <b>Dipendenti selezionati: </b>
                  <button (click)="toggleSelected('employees', i, true)"
                          *ngFor="let selected of tables['employees'].selected; let i = index"
                          class="btn btn-primary btn-sm color-white m-1">
                    <i class="cil cil-people"></i> {{ selected.visualizza }} : {{ selected.durata }}
                  </button>
                </p>

                <p class="text-right">
                  <button (click)="pair('employees')" class="btn btn-success pl-4 pr-4 mt-2"><i
                    class="cil cil-check mr-1"></i>Abbina selezionati
                  </button>
                </p>
              </div>

              <div class="row">
                <div class="col-xl-4" style="min-width: 10rem">
                  <div class="input-group mt-3 mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="cil cil-clock" style="line-height: 1.25;"></i></span>
                    </div>
                    <input #durata (blur)="durataBlur()" aria-label="Durata" class="form-control" min="1" placeholder="Durata" type="number">
                  </div>
                  <p class="text-black-50">
                    Durata predefinita: 1
                  </p>
                </div>
                <div class="col-xl-8">
                  <div class="input-group mt-3 mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="cil cil-people" style="line-height: 1.25;"></i></span>
                    </div>
                    <input #employees (input)="suggest('employees', $event)" aria-label="Username" class="form-control"
                           placeholder="Cerca fra i dipendenti" type="text">
                  </div>

                  <p *ngIf="tables['employees'].suggestions === null" class="text-black-50">
                    Scrivi almeno 3 caratteri per avviare la ricerca
                  </p>

                  <p *ngIf="tables['employees'].suggestions?.length === 0" class="text-black-50">
                    Nessun risultato trovato
                  </p>

                  <div *ngIf="tables['employees'].suggestions?.length > 0" class="mt-2 suggestions">
                    <a (click)="toggleSelected('employees', i)"
                       *ngFor="let suggest of tables['employees'].suggestions; let i = index"
                       [ngClass]="{ 'selected': false }">
                      <i class="cil cil-people"></i> {{ suggest.visualizza }}
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div [ngClass]="{ 'col-md-8': operation !== Operation.READ, 'col-md-12': operation === Operation.READ }">
              <app-advanced-table
                (actionBtnEvent)="actionBtnClicked('employees', $event)"
                (changeResultsPerPageEvent)="changeResultsPerPage('employees', $event)"
                (loadLazyEvent)="lazyLoad('employees', $event)"
                (rowClickedEvent)="rowClicked('employees', $event)"
                *ngIf="tables && tables['employees']"
                [actions]="operation !== Operation.READ ? tables['employees'].actions : []"
                [class]="['table-hover', 'table-responsive-xl']"
                [columns]="tables['employees'].columns"
                [enableChangeResultsPerPage]="tables['employees'].enableChangeResultsPerPage"
                [exportAsCSV]="tables['employees'].exportAsCSV"
                [loading]="tables['employees'].loading"
                [resultsPerPage]="tables['employees'].resultsPerPage"
                [rowClickable]="tables['employees'].rowClickable"
                [rowID]="tables['employees'].rowID"
                [rows]="tables['employees'].rows"
                [search]="tables['employees'].search"
                [singleSort]="tables['employees'].sortable"
                [totalRecords]="tables['employees'].totalRecords"
                (pageChanged)="pageChanged('employees', $event)"
                (searchEvent)="searchFn('employees', $event)">
              </app-advanced-table>
            </div>
          </div>

          <p-sidebar [(visible)]="displaySidebar" [baseZIndex]="900" [blockScroll]="true" [showCloseIcon]="false"
                     position="right" styleClass="ui-sidebar-md">
            <div class="p-3">
              <h3>Modifica durata</h3>
              <p>Inserisci la nuova durata per il dipendente <b>{{ editEmployee ? editEmployee.showedText : '' }}</b>
              </p>
              <form (keyup.enter)="changeLength()" (ngSubmit)="changeLength()" *ngIf="editLengthForm"
                    [formGroup]="editLengthForm">
                <div class="input-group mt-3 mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil cil-clock" style="line-height: 1.25;"></i></span>
                  </div>
                  <input aria-label="Durata" class="form-control" formControlName="length" min="1" placeholder="Durata"
                         type="number">
                </div>
                <p class="text-black-50">
                  Durata predefinita: 1
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <button (click)="displaySidebar = false" class="btn btn-danger pl-4 pr-4 mt-2"><i
                      class="cil cil-x mr-1"></i>Annulla
                    </button>
                  </div>
                  <div class="col-md-6 text-right">
                    <button class="btn btn-success pl-4 pr-4 mt-2" type="submit"><i class="cil cil-pencil mr-1"></i>Modifica
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </p-sidebar>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-container>
</div>

<p-confirmDialog [baseZIndex]="1000"></p-confirmDialog>

<p-toast [baseZIndex]="2000"></p-toast>

<p-dialog header="Elimina corso" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei di voler cestinare questo corso?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="deleteCourse()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Elimina corso definitivamente" [(visible)]="deleteDef" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei sicuro di voler eliminare
    <b>definitivamente</b> questo corso?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="yesDeleteDefinitively()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="deleteDef=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Recupera corso" [(visible)]="restoreCourse" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei sicuro di voler <b>recuperare</b> questo
    corso?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="yesRestore()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="restoreCourse=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

