@import "../../../../scss/variables";

.container-fluid {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.error {
  font-size: x-small;
  color: red;
}

input[readonly], textarea[readonly] {
  background-color: #f3f3f3;
}

.pb-3 {
  padding-top: 1.5rem;
}

.btn {
  cursor: pointer;

  .cil {
    margin-right: .5rem;
  }
}

.suggestions {
  max-height: 20rem;
  overflow-y: auto;

  & > a {
    display: block;
    padding: .5rem 1rem !important;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover, &:focus {
      text-decoration: none;
      color: white;
      background-color: $accentPrimary;
    }

    &.selected {
      background-color: #b3faca;

      &:hover, &:focus {
        color: black;
        background-color: #91e0aa;
      }
    }
  }
}
