@import '../../../../scss/variables';

.item {
  display: block;
  padding: .5rem 1rem;
  transition: .2s ease-in-out;

  &:hover, &:focus {
    background-color: $accentPrimary;
    color: white;
    text-decoration: none;

    * {
      color: white !important;
    }
  }
}
