<p *ngIf="items.length === 0" class="text-black-50">Nessun elemento</p>

<a *ngFor="let item of items" [routerLink]="
    (item.type === SearchType.TEACHER ? 'teachers' :
    item.type === SearchType.EMPLOYEE ? 'employees' :
    item.type === SearchType.COURSE ? 'courses' :
    item.type === SearchType.MARK ? 'marks' : '') +
    '/' + item.id" class="item" (click)="clickEvent.emit(item)">
  <p class="firstRow">
    <i [ngClass]="{
          'cil-user': item.type === SearchType.TEACHER,
          'cil-people': item.type === SearchType.EMPLOYEE,
          'cil-bolt': item.type === SearchType.COURSE,
          'cil-check': item.type === SearchType.MARK
         }"></i>
    {{ item.firstRow }}
  </p>
  <p class="secondRow text-black-50" *ngIf="item.secondRow">
    {{ item.secondRow }}
  </p>
</a>
