<div class="container-fluid pb-3">

  <ng-container *ngIf="course !== null">
    <a (click)="visibleSidebar = true" class="btn btn-secondary float-sm-right mr-1" style="cursor: pointer"><span
      class="cil cil-bolt"></span>Dettagli corso</a>
    <h4>Valutazioni corso</h4>
    <h1>{{ tipologia ? (tipologia.descrizione + ' - ' + tipo) : '' }}</h1>
    <div *ngIf="course.dataErogazione > moment()" class="alert alert-danger mt-3">
      <b>Il corso inizia il {{ course.dataErogazione.format('DD/MM/YY') }}</b>. &Egrave; sconsigliato valutare un corso,
      i suoi docenti o i suoi partecipanti prima del suo inizio.
    </div>
    <div *ngIf="course.dataErogazione <= moment() && course.dataChiusura >= moment()" class="alert alert-warning mt-3">
      <b>Il concorso chiude il {{ course.dataChiusura.format('DD/MM/YY') }}</b>. &Egrave; sconsigliato valutare un
      corso, i suoi docenti o i suoi partecipanti prima della sua chiusura.
    </div>
    <div *ngIf="course.dataChiusura < moment()" class="alert alert-success mt-3">
      Corso concluso il {{ course.dataChiusura.format('DD/MM/YY') }}.
    </div>

    <div class="pb-3" style="margin-top: 1rem">
      <p-tabView>
        <p-tabPanel header="Valutazioni corso" leftIcon="cil cil-bolt">
          <div class="row justify-content-md-center mb-2">
            <a (click)="operationCourse = Operation.UPDATE; alertMaxUsers = []"
               *ngIf="operationCourse === Operation.READ && courseMarksOperation === Operation.UPDATE"
               class="btn btn-warning float-sm-left mr-1"
               style="cursor: pointer"><span class="fa fa-pencil"></span>&nbsp;Modifica valutazione</a>
            <a (click)="operationCourse = Operation.CREATE"
               *ngIf="operationCourse === Operation.READ && courseMarksOperation === Operation.CREATE" class="btn btn-success float-sm-left mr-1"
               style="cursor: pointer"><span class="fa fa-plus"></span>&nbsp;Inserisci valutazione</a>
          </div>
          <form [formGroup]="courseForm">
            <table class="table table-striped table-bordered course-table">
              <thead>
              <tr>
                <td class="text-left"><b>Criterio</b></td>
                <td class="text-center"><b>1</b></td>
                <td class="text-center"><b>2</b></td>
                <td class="text-center"><b>3</b></td>
                <td class="text-center"><b>4</b></td>
                <td class="text-center"><b>N.A</b></td>
                <td class="text-center"><b>Media</b></td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let param of paramCourse; let i = index">
                <td class="text-left"><p>{{param.descrizione}}</p>
                  <p *ngIf="alertMaxUsers[i] === false && operationCourse !== Operation.READ"
                     style="font-size: 11px; color: red"><i
                    class="fa fa-times-circle mr-1"></i>Hai superato il numero di studenti</p></td>
                <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-1-' + param.idCriterio"
                                               [readOnly]="operationCourse === Operation.READ" min="0"
                                               size="2"
                                               type="number"></td>
                <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-2-' + param.idCriterio"
                                               [readOnly]="operationCourse === Operation.READ" min="0"
                                               size="2"
                                               type="number"></td>
                <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-3-' + param.idCriterio"
                                               [readOnly]="operationCourse === Operation.READ" min="0"
                                               size="2"
                                               type="number"></td>
                <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-4-' + param.idCriterio"
                                               [readOnly]="operationCourse === Operation.READ" min="0"
                                               size="2"
                                               type="number"></td>
                <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-na-' + param.idCriterio"
                                               [readOnly]="operationCourse === Operation.READ" min="0"
                                               size="2"
                                               type="number"></td>
                <td [ngClass]="{ 'bg-danger': courseAverages[i] > 0 && courseAverages[i] < 2, 'bg-orange': courseAverages[i] >= 2 && courseAverages[i] < 3, 'bg-success': courseAverages[i] >= 3 }"
                    class="text-center">{{ courseAverages[i] }}</td>
              </tr>
              <tr style="font-size: 1.5em">
                <td class="text-right font-weight-bold" colspan="6">Media corso</td>
                <td [ngClass]="{ 'bg-danger': courseAverage > 0 && courseAverage < 2, 'bg-orange': courseAverage >= 2 && courseAverage < 3, 'bg-success': courseAverage >= 3 }"
                    class="text-center">{{courseAverage}}</td>
              </tr>
              </tbody>
            </table>
            <div class="col-md-12 text-right">
              <button (click)="sendCourseMarks()" *ngIf="operationCourse !== Operation.READ"
                      class="ui-button-raised ui-button-success" label="Invia" pButton type="submit"></button>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Valutazioni docenti" leftIcon="cil cil-people">
          <app-advanced-table
            (actionBtnEvent)="actionBtnClicked('teachers', $event)"
            (changeResultsPerPageEvent)="changeResultsPerPage('teachers', $event)"
            (loadLazyEvent)="lazyLoad('teachers', $event)"
            (pageChanged)="pageChanged('teachers', $event)"
            (searchEvent)="searchFn('teachers', $event)"
            *ngIf="tables && tables['teachers']"
            [actions]="tables['teachers'].actions"
            [class]="['table-hover', 'table-responsive-xl']"
            [columns]="tables['teachers'].columns"
            [enableChangeResultsPerPage]="tables['teachers'].enableChangeResultsPerPage"
            [loading]="tables['teachers'].loading"
            [resultsPerPage]="tables['teachers'].resultsPerPage"
            [rowClickable]="tables['teachers'].rowClickable"
            [rowID]="tables['teachers'].rowID"
            [rows]="tables['teachers'].rows"
            [search]="tables['teachers'].search"
            [singleSort]="tables['teachers'].sortable"
            [totalRecords]="tables['teachers'].totalRecords">
          </app-advanced-table>
        </p-tabPanel>
        <p-tabPanel header="Valutazioni studenti" leftIcon="cil cil-user">
          <app-advanced-table
            (actionBtnEvent)="actionBtnClicked('employees', $event)"
            (changeResultsPerPageEvent)="changeResultsPerPage('employees', $event)"
            (loadLazyEvent)="lazyLoad('employees', $event)"
            (pageChanged)="pageChanged('employees', $event)"
            (searchEvent)="searchFn('employees', $event)"
            *ngIf="tables && tables['employees']"
            [actions]="tables['employees'].actions"
            [class]="['table-hover', 'table-responsive-xl']"
            [columns]="tables['employees'].columns"
            [enableChangeResultsPerPage]="tables['employees'].enableChangeResultsPerPage"
            [loading]="tables['employees'].loading"
            [resultsPerPage]="tables['employees'].resultsPerPage"
            [rowClickable]="tables['employees'].rowClickable"
            [rowID]="tables['employees'].rowID"
            [rows]="tables['employees'].rows"
            [search]="tables['employees'].search"
            [singleSort]="tables['employees'].sortable"
            [totalRecords]="tables['employees'].totalRecords">
          </app-advanced-table>
        </p-tabPanel>
      </p-tabView>
      <p-dialog [(visible)]="rateTeacher" [baseZIndex]="1000" [closable]="false" [draggable]="false"
                [modal]="true" [resizable]="false"
                header="{{teacher}}">
        <form *ngIf="teacherForm !== null" [formGroup]="teacherForm">
          <div style="margin-bottom: 0.7rem">
            <p-message
              [severity]="teacherMarksOperation === Operation.CREATE ? 'success' : teacherMarksOperation === Operation.UPDATE ? 'warn' : null"
              [text]="teacherMarksOperation === Operation.CREATE ? 'Questo docente non è mai stato valutato prima.' : teacherMarksOperation === Operation.UPDATE ? 'Docente già valutato, vuoi modificarlo?' : null"></p-message>
            <a (click)="operationTeacher = Operation.UPDATE"
               *ngIf="operationTeacher === Operation.READ && teacherMarksOperation === Operation.UPDATE" class="btn btn-warning float-sm-right mr-1"
               style="cursor: pointer"><span class="fa fa-pencil"></span>&nbsp;Modifica valutazione</a>
            <a (click)="operationTeacher = Operation.CREATE"
               *ngIf="operationTeacher === Operation.READ && teacherMarksOperation === Operation.CREATE" class="btn btn-success float-sm-right mr-1"
               style="cursor: pointer"><span class="fa fa-plus"></span>&nbsp;Inserisci valutazione</a>
          </div>
          <table class="table table-striped table-bordered course-table">
            <thead>
            <tr>
              <td><b>Criterio</b></td>
              <td class="text-center"><b>1</b></td>
              <td class="text-center"><b>2</b></td>
              <td class="text-center"><b>3</b></td>
              <td class="text-center"><b>4</b></td>
              <td class="text-center"><b>N.A</b></td>
              <td class="text-center"><b>Media</b></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let param of paramTeacher; let i = index">
              <td class="text-left"><p>{{param.descrizione}}</p>
                <p *ngIf="alertMaxUsers[i] === false && operationTeacher !== Operation.READ"
                   style="font-size: 11px; color: red">
                  <i class="fa fa-times-circle mr-1"></i>Hai superato il numero di studenti</p></td>
              <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-1-' + param.idCriterio" [readOnly]="operationTeacher === Operation.READ"
                                             min="0" size="2"
                                             type="number"></td>
              <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-2-' + param.idCriterio" [readOnly]="operationTeacher === Operation.READ"
                                             min="0" size="2"
                                             type="number"></td>
              <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-3-' + param.idCriterio" [readOnly]="operationTeacher === Operation.READ"
                                             min="0" size="2"
                                             type="number"></td>
              <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-4-' + param.idCriterio" [readOnly]="operationTeacher === Operation.READ"
                                             min="0" size="2"
                                             type="number"></td>
              <td class="text-center"><input (focus)="$event.target.select()" [formControlName]="'course-na-' + param.idCriterio" [readOnly]="operationTeacher === Operation.READ"
                                             min="0" size="2"
                                             type="number"></td>
              <td [ngClass]="{ 'bg-danger': teacherAverages[i] > 0 && teacherAverages[i] < 2, 'bg-orange': teacherAverages[i] >= 2 && teacherAverages[i] < 3, 'bg-success': teacherAverages[i] >= 3 }"
                  class="text-center">{{ teacherAverages[i] }}</td>
            </tr>
            <tr style="font-size: 1.5em">
              <td class="text-right font-weight-bold" colspan="6">Media docente</td>
              <td [ngClass]="{ 'bg-danger': teacherAverage > 0 && teacherAverage < 2, 'bg-orange': teacherAverage >= 2 && teacherAverage < 3, 'bg-success': teacherAverage >= 3 }"
                  class="text-center">{{teacherAverage}}</td>
            </tr>
            </tbody>
          </table>
        </form>
        <p-footer>
          <button (click)="sendTeacherMarks()" *ngIf="operationTeacher !== Operation.READ" class="ui-button-success"
                  icon="pi pi-check" label="Invia" pButton
                  type="button"></button>
          <button (click)="rateTeacher=false; operationTeacher = Operation.READ" class="ui-button-danger"
                  icon="pi pi-times" label="Chiudi" pButton type="button"></button>
        </p-footer>
      </p-dialog>

      <p-dialog [(visible)]="rateUser" [baseZIndex]="1000" [closable]="false" [draggable]="false"
                [modal]="true" [resizable]="false"
                [style]="{ 'width': '100%', 'maxWidth': '800px' }" header="{{user}}">
        <div style="margin-bottom: 0.7rem">
          <p-message
            [severity]="userMarksOperation === Operation.CREATE ? 'success' : userMarksOperation === Operation.UPDATE ? 'warn' : null"
            [text]="userMarksOperation === Operation.CREATE ? 'Non è mai stato valutato. Vuoi valutarlo?' : userMarksOperation === Operation.UPDATE ? 'É gia stato valutato. Vuoi modificare? ' : null"
            style="margin-right: 1rem"></p-message>
          <a (click)="operationUser = Operation.UPDATE"
             *ngIf="operationUser === Operation.READ && userMarksOperation === Operation.UPDATE" class="btn btn-warning float-sm-right mr-1"
             style="cursor: pointer"><span class="fa fa-pencil"></span>&nbsp;Modifica valutazione</a>
          <a (click)="operationUser = Operation.CREATE"
             *ngIf="operationUser === Operation.READ && userMarksOperation === Operation.CREATE" class="btn btn-success float-sm-right mr-1"
             style="cursor: pointer"><span class="fa fa-plus"></span>&nbsp;Inserisci valutazione</a>
        </div>
        <form *ngIf="userForm !== null" [formGroup]="userForm">
          <table class="table table-striped table-bordered">
            <tbody>
            <tr *ngFor="let param of paramUser">
              <td style="font-size: 16px; width: 54%">{{param.descrizione}}</td>
              <td style="width: 46%">
                <div class="ui-g-5" style="margin: 0 auto">
                  <p-rating [cancel]="false"
                            [formControlName]="'course-' + param.idCriterio" [readonly]="operationUser === Operation.READ" stars="6"></p-rating>
                </div>
                <div class="ui-g-7">
                  <p style="text-align: center; float: right">{{resultRate(userForm.controls['course-' + param.idCriterio].value)}}</p>
                </div>
              </td>
            </tr>
            <tr style="font-size: 1.5em">
              <td class="text-right font-weight-bold">Media studente</td>
              <td [ngClass]="{ 'bg-danger': userAverage > 0 && userAverage < 2, 'bg-orange': userAverage >= 2 && userAverage < 3, 'bg-success': userAverage >= 3 }"
                  class="text-center">{{userAverage}}</td>
            </tr>
          </table>
        </form>
        <p-footer>
          <button (click)="sendUserMarks(); operationUser = Operation.READ" *ngIf="operationUser !== Operation.READ"
                  class="ui-button-success" icon="pi pi-check" label="Invia" pButton
                  type="button"></button>
          <button (click)="closeModalUser(); operationUser = Operation.READ" class="ui-button-danger"
                  icon="pi pi-times"
                  label="Chiudi" pButton
                  type="button"></button>
        </p-footer>
      </p-dialog>

      <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="900" [blockScroll]="true" [showCloseIcon]="true"
                 position="right" styleClass="ui-sidebar-md">
        <div class="p-3 mt-3">
          <a [routerLink]="['', 'courses', id]" class="btn btn-secondary float-sm-right mr-1"><span
            class="cil cil-bolt"></span>Mostra di pi&ugrave; <i class="cil-external-link"></i> </a>
          <h3>Dettagli corso</h3>
          <hr/>
          <div class="row">
            <div class="col-md-6 font-weight-bold text-right">
              Tipologia
            </div>
            <div class="col-md-6">
              {{ tipologia.descrizione }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Tipo
            </div>
            <div class="col-md-6">
              {{ tipo }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Luogo
            </div>
            <div class="col-md-6">
              {{ course.luogo }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Edizione
            </div>
            <div class="col-md-6">
              {{ course.edizione }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Data erogazione
            </div>
            <div class="col-md-6">
              {{ course.dataErogazione !== 'Non impostata' ? course.dataErogazione.format('DD/MM/YYYY') : course.dataErogazione }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Data chiusura
            </div>
            <div class="col-md-6">
              {{ course.dataChiusura !== 'Non impostata' ? course.dataChiusura.format('DD/MM/YYYY') : course.dataChiusura }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Ente
            </div>
            <div class="col-md-6">
              {{ course.ente }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Descrizione
            </div>
            <div class="col-md-6">
              {{ course.descrizione || 'Nessuna' }}
            </div>
            <div class="col-md-6 font-weight-bold text-right">
              Note
            </div>
            <div class="col-md-6">
              {{ course.note || 'Nessuna' }}
            </div>
          </div>
        </div>
      </p-sidebar>
    </div>
  </ng-container>

  <p-toast [baseZIndex]="2000"></p-toast>

</div>
