.container-fluid {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.big-button {
  width: 100%;
  padding: 1rem 0 !important;
}

.cil {
  margin-right: .5rem;
}

table.course-table {
  tr {
    td {
      vertical-align: middle;
      text-align: right;

      input {
        padding: .5rem 1rem;
        text-align: center;
        border: 1px solid gray;
        border-radius: .5rem;
        max-width: 4rem;

        &[readonly] {
          background-color: transparent;
          border: 1px solid transparent;
        }

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}
