<div class="animated fadeIn container-fluid">

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <p *ngFor="let error of errors" [innerHTML]="error" style="margin-bottom: 0;"></p>
  </div>

  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center" *ngIf="item === 0">Corsi cestinati</h1>
  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center" *ngIf="item === 1">Docenti cestinati</h1>

  <div *ngIf="errors.length === 0">

    <app-advanced-table
      [rowID]="rowId"
      cache="gestione-corsi"
      *ngIf="visible"
      [dColumns]="columns"
      [rows]="rows"
      [class]="['table-hover', 'table-responsive-xl']"
      [actions]="actions"
      [rowClickable]="true"
      [search]="search"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [resultsPerPage]="resultsPerPage"
      [exportAsCSV]="true"
      [enableChangeResultsPerPage]="false"
      [multiSort]="true"
      (changeResultsPerPageEvent)="changeResultsPerPage($event)"
      (rowClickedEvent)="rowClicked($event)"
      (actionBtnEvent)="actionBtnClicked($event)"
      (loadLazyEvent)="lazyLoad($event)"
      (pageChanged)="pageChanged($event)"
      (searchEvent)="searchFn($event)">
    </app-advanced-table>

    <p-toast [baseZIndex]="2000"></p-toast>

    <p-confirmDialog header="Confermare eliminazione" icon="pi pi-exclamation-triangle" [baseZIndex]="1000">
    </p-confirmDialog>

  </div>
</div>
