<p-table
  #dt
  [columns]="visibleColumns"
  [value]="rows"
  [lazy]="true"
  (onLazyLoad)="loadLazy($event)"
  [totalRecords]="totalRecords"
  [paginator]="true"
  [rows]="resultsPerPage"
  [reorderableColumns]="true"
  [responsive]="true"
  [loading]="loading"
  [stateStorage]="cache && !dColumns ? 'session' : null"
  [stateKey]="cache && !dColumns ? cache : null"
  [sortMode]="multiSort ? 'multiple' : singleSort ? 'single' : null"
  (onPage)="onPage($event)">

  <ng-template pTemplate="caption"
               *ngIf="search.enabled || exportAsCSV || enableChangeResultsPerPage || dColumns?.enabled">
    <div class="row">
      <div class="col-md-3 headerBtns">
        <ng-container *ngFor="let headerBtn of headerBtns">
          <button *ngIf="headerBtn.position === Position.LEFT"
                  [className]="'action btn btn-primary ' + (headerBtn.class ? headerBtn.class.join(' ') : '')"
                  [attr.aria-label]="headerBtn.title" [title]="headerBtn.title" (click)="headerBtnClicked(headerBtn.id)"
                  [attr.action-btn-id]="headerBtn.id">
            <i class="pi" [className]="'pi ' + headerBtn.icon"></i>
            {{ headerBtn.title }}
          </button>
        </ng-container>
      </div>
      <div class="col-md-6">
        <div class="input-prepend input-group search" *ngIf="search.enabled">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" [value]="search.defaultValue || ''" [placeholder]="search.placeholder"
                 class="text-center form-control" id="search" (input)="searchFn($event)" style="width:auto">
        </div>
      </div>
      <div class="col-md-3">
        <select *ngIf="enableChangeResultsPerPage" (change)="changeResultsPerPage($event)"
                class="custom-select float-right" style="width: auto">
          <option disabled>Attuale: {{ resultsPerPage }} elementi per pagina</option>
          <option disabled>----------------------</option>
          <option value="10">10 elementi per pagina</option>
          <option value="20">20 elementi per pagina</option>
          <option value="30">30 elementi per pagina</option>
          <option value="40">40 elementi per pagina</option>
          <option value="50">50 elementi per pagina</option>
        </select>

        <button *ngIf="exportAsCSV" class="mr-2" type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                (click)="dt.exportCSV()" style="float:right"></button>
        <button *ngIf="dColumns?.enabled" class="mr-2" type="button" pButton icon="pi pi-sliders-v" iconPos="left"
                label="Colonne" (click)="toggleColumnsSidebar()" style="float:right"></button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of visibleColumns" pReorderableColumn [pSortableColumn]="singleSort ? col.field : null">
        {{col.header}}
        <p-sortIcon *ngIf="singleSort" [field]="col.field"></p-sortIcon>
      </th>
      <th *ngIf="actions.length > 0" class="text-center">
        Azioni
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-columns>
    <tr>
      <td *ngFor="let col of visibleColumns" (click)="rowClicked(row[rowID])">
        <span class="ui-column-title">{{col.header}}</span>
        <ng-container [ngSwitch]="col.type === ColType.PROGRESS_BAR ? 1 : 0">
          <ng-container *ngSwitchCase="1">
            <p-progressBar [value]="row[col.field] * 100 / 3" [showValue]="false"></p-progressBar>
          </ng-container>
          <ng-container *ngSwitchCase="0">
            {{row[col.field]}}
          </ng-container>
        </ng-container>
      </td>
      <td *ngIf="actions.length > 0" class="text-center">
        <button *ngFor="let action of actions"
                [className]="'action btn btn-primary ' + (action.class ? action.class.join(' ') : '')"
                [attr.aria-label]="action.title" [title]="action.title"
                (click)="actionBtnClicked(row[rowID], action.id)" [attr.action-btn-id]="action.id">
          <i class="pi" [className]="'pi ' + action.icon"></i>
        </button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="visibleColumns.length + (actions.length > 0 ? 1 : 0)" class="text-center p-4">
        Nessun risultato trovato
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    {{ !loading ? (totalRecords === 0 ? 'Non ci sono elementi' : totalRecords === 1 ? 'C\'è un elemento' : 'Ci sono ' + totalRecords + ' elementi') : 'Caricamento...' }}
  </ng-template>
</p-table>

<p-sidebar *ngIf="dColumns?.enabled" [(visible)]="visibleColumnsSidebar" [showCloseIcon]="false" [blockScroll]="true"
           position="right" [baseZIndex]="900" styleClass="ui-sidebar-md">
  <div class="p-3">
    <h3>Mostra/nascondi colonne</h3>
    <p>Personalizza la tabella mostrando o nascondendo le colonne</p>
    <hr/>
    <form [formGroup]="dColumnsForm">
      <div *ngFor="let col of dColumns.columns" class="custom-control custom-checkbox mb-2">
        <input type="checkbox" [formControlName]="'checkbox-' + col.field" [id]="'checkbox-' + col.field" class="mr-1"
               [checked]="col.visible" class="custom-control-input">
        <label class="custom-control-label" [for]="'checkbox-' + col.field">{{ col.header }}</label>
      </div>
    </form>
    <button class="btn btn-success pl-4 pr-4 mt-2" (click)="visibleColumnsSidebar = false"><i
      class="cil cil-check mr-1"></i>Finito
    </button>
  </div>
</p-sidebar>
