<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-1 text-muted">{{ tipologia }}</h6>
    <h5 class="card-title">{{ tipo }}</h5>
    <h6 class="card-subtitle mb-2 text-muted" *ngIf="dataErogazione && currentDate <= moment(dataErogazione)">Inizia
      il {{ dataErogazione | date:'dd/MM/yy' }}</h6>
    <ng-container
      *ngIf="dataErogazione && dataChiusura && currentDate > moment(dataErogazione) && currentDate < moment(dataChiusura)">
      <h6 class="card-subtitle mb-2 text-muted">
        <p-progressBar [value]="progress" [showValue]="false" [style]="{ height: '.5rem' }"></p-progressBar>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">Iniziato il {{ dataErogazione | date:'dd/MM/yy' }}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Finisce il {{ dataChiusura | date:'dd/MM/yy' }}</h6>
    </ng-container>
    <h6 class="card-subtitle mb-2 text-muted" *ngIf="dataChiusura && currentDate >= moment(dataChiusura)">Finito
      il {{ dataChiusura | date:'dd/MM/yy' }}</h6>
    <a [routerLink]="'/courses/' + id" class="card-link">Visualizza</a>
    <a [routerLink]="'/courses/edit/' + id" class="card-link"
       *ngIf="dataErogazione && moment() < moment(dataErogazione)">Modifica</a>
    <a [routerLink]="'/marks/' + id" class="card-link" *ngIf="dataChiusura && moment() > moment(dataChiusura)">Valutazioni</a>
  </div>
</div>
