@import "src/scss/variables";

.card {
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: #2F353A !important;
    color: white;
    border: 1px solid transparent;
  }
}
