.row.global-search {
  > * {
    padding: 0;
    margin: 0;

    form {
      input {
        border: 0;
        padding: 1rem;
        font-size: 2rem;
        font-weight: lighter;
        width: calc(100% - 2rem);
        text-align: center;

        @media (prefers-color-scheme: dark) {
          background-color: #2F353A !important;
          color: white !important;
        }

        &:focus, &:hover {
          border: 0;
          outline: none;
        }
      }
    }

    .close-btn {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.row {
  & > .recent-searches, & > .quick-access {
    & > p > b {
      display: block;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }
}
