<div class="row global-search">
  <div class="col-md-11">
    <form [formGroup]="searchForm">
      <input type="search" id="search" formControlName="search" placeholder="Cerca..." tabindex="0"
             (input)="search($event)" #searchInput/>
    </form>
  </div>
  <div class="col-md-1 text-right">
    <button class="btn btn-danger btn-lg close-btn" (click)="close()">
      <i class="cil-x-circle"></i>
    </button>
  </div>
</div>

<ng-container *ngIf="loading > 1">
  <p-progressSpinner></p-progressSpinner>
</ng-container>

<ng-container *ngIf="loading === 0">
  <div class="row" *ngIf="searchValue === null">
    <div class="col-md-6 recent-searches">
      <p><b>Ricerche recenti</b></p>
      <app-search-items [items]="recentSearches" (clickEvent)="close()"></app-search-items>
    </div>
    <div class="col-md-6 quick-access">
      <p><b>Accesso rapido</b></p>
      <app-search-items [items]="quickAccess" (clickEvent)="close()"></app-search-items>
    </div>
  </div>

  <div class="row" *ngIf="searchValue !== null">
    <div class="col-md-12">
      <app-search-items [items]="searchResults" (clickEvent)="clickSearchResult($event)"></app-search-items>
    </div>
  </div>
</ng-container>
