<div class="animated fadeIn container-fluid">
  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <p *ngFor="let error of errors" [innerHTML]="error" style="margin-bottom: 0;"></p>
  </div>
  <h1 style="margin-bottom: 1rem; margin-top: -1rem; text-align: center">{{descrizione}}</h1>
  <div *ngIf="errors.length === 0">

    <app-advanced-table
      rowID="corsoId"
      cache="courses-by-types-gestione-corsi"
      *ngIf="visible"
      [dColumns]="columns"
      [rows]="courses"
      [class]="['table-hover', 'table-responsive-xl']"
      [actions]="actions"
      [rowClickable]="true"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [resultsPerPage]="resultsPerPage"
      [exportAsCSV]="true"
      [enableChangeResultsPerPage]="false"
      (changeResultsPerPageEvent)="changeResultsPerPage($event)"
      (actionBtnEvent)="actionBtnClicked($event)"
      (rowClickedEvent)="rowClicked($event)"
      (pageChanged)="pageChanged($event)"
      (loadLazyEvent)="lazyLoad($event)"></app-advanced-table>

    <p-confirmDialog header="Confermare eliminazione" icon="pi pi-exclamation-triangle"
                     [baseZIndex]="1000"></p-confirmDialog>

    <p-toast [baseZIndex]="2000"></p-toast>

  </div>
</div>
