<div class="animated fadeIn container-fluid mb-md-3">

  <ng-container *ngIf="employee !== null">
    <h4>
      {{ employee ? (employee.cognome) + ' ' + (employee.nome) : '' }}
    </h4>
    &nbsp;
    <div style="clear: both"></div>

    <div class="text-center" *ngIf="!employee">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <div class="pb-3" *ngIf="employee">
      <p-tabView>
        <p-tabPanel header="Anagrafica">
          <form [formGroup]="form">
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Identificativo:</h5>
              </div>
              <div class="col-md-3">
                <label for="matricola">Matricola </label>
                <input class="form-control" id="matricola" formControlName="matricola"
                       type="text">
              </div>
              <div class="col-md-3">
                <label for="nome">Nome </label>
                <input class="form-control" id="nome" formControlName="nome" type="text">
              </div>
              <div class="col-md-3">
                <label for="cognome">Cognome </label>
                <input class="form-control" id="cognome" formControlName="cognome" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Informazioni personali:</h5>
              </div>
              <div class="col-md-1">
                <label>Sesso </label><br/>
                <i class="fa mr-1" *ngIf="employee?.sesso"
                   [ngClass]="{ 'fa-female': employee.sesso.toLowerCase() === 'f', 'fa-male': employee.sesso.toLowerCase() === 'm' }"
                   style="font-size: 2rem"></i>
                {{ employee.sesso.toLowerCase() === 'f' ? 'Femmina' : 'Maschio' }}
              </div>
              <div class="col-md-2">
                <label for="dataNascita">Data nascita </label>
                <input class="form-control" id="dataNascita" formControlName="dataNascita"
                       type="text">
              </div>
              <div class="col-md-3">
                <label for="luogoNascita">Luogo nascita </label>
                <input class="form-control" id="luogoNascita" formControlName="luogoNascita"
                       type="text">
              </div>
              <div class="col-md-3">
                <label for="statoCivile">Stato civile </label>
                <input class="form-control" id="statoCivile" formControlName="statoCivile"
                       type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Studi:</h5>
              </div>
              <div class="col-md-3">
                <label for="titoloStudio">Titolo di studio </label>
                <input class="form-control" id="titoloStudio"
                       formControlName="titoloStudio" type="text">
              </div>
              <div class="col-md-3">
                <label for="conseguitoPresso">Conseguito presso </label>
                <input class="form-control" id="conseguitoPresso"
                       formControlName="conseguitoPresso" type="text">
              </div>
              <div class="col-md-3">
                <label for="annoConseguimento">Anno conseguimento </label>
                <input class="form-control" id="annoConseguimento"
                       formControlName="annoConseguimento" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Qualifica:</h5>
              </div>
              <div class="col-md-3">
                <label for="tipoDipendente">Tipo dipendente </label>
                <input class="form-control" id="tipoDipendente"
                       formControlName="tipoDipendente" type="text">
              </div>
              <div class="col-md-3">
                <label for="qualifica">Qualifica </label>
                <input class="form-control" id="qualifica" formControlName="qualifica"
                       type="text">
              </div>
              <div class="col-md-3">
                <label for="livello">Livello </label>
                <input class="form-control" id="livello" formControlName="livello" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Dati società:</h5>
              </div>
              <div class="col-md-3">
                <label for="responsabileRisorsa">Responsabile risorsa </label>
                <input class="form-control" id="responsabileRisorsa"
                       formControlName="responsabileRisorsa" type="text">
              </div>
              <div class="col-md-3">
                <label for="responsabileArea">Responsabile area </label>
                <input class="form-control" id="responsabileArea"
                       formControlName="responsabileArea" type="text">
              </div>
              <div class="col-md-3">
                <label for="societa">Società </label>
                <input class="form-control" id="societa" formControlName="societa" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <h5>Dati contratto:</h5>
              </div>
              <div class="col-md-3">
                <label for="dataAssunzione">Data assunzione </label>
                <input class="form-control" id="dataAssunzione"
                       formControlName="dataAssunzione" type="text">
              </div>
              <div class="col-md-3">
                <label for="dataFineRapporto">Data fine rapporto </label>
                <input class="form-control" id="dataFineRapporto"
                       formControlName="dataFineRapporto" type="text">
              </div>
              <div class="col-md-3">
                <label for="dataScadenzaContratto">Data scadenza contratto </label>
                <input class="form-control" id="dataScadenzaContratto"
                       formControlName="dataScadenzaContratto" type="text">
              </div>
            </div>
            <hr>
          </form>
        </p-tabPanel>
        <p-tabPanel header="Corsi tenuti">
          <app-advanced-table
            rowID="corsoId"
            [columns]="columns"
            [rows]="listTenuti"
            [class]="['table-hover', 'table-responsive-xl']"
            [rowClickable]="true"
            [loading]="loadingCoursesTenuti"
            [totalRecords]="totalRecordsTenuti"
            [resultsPerPage]="resultsPerPageTenuti"
            [exportAsCSV]="true"
            [enableChangeResultsPerPage]="false"
            [singleSort]="false"
            (changeResultsPerPageEvent)="changeResultsPerPage('tenuti', $event)"
            (rowClickedEvent)="rowClicked($event)"
            (pageChanged)="pageChanged('tenuti', $event)"
            (loadLazyEvent)="lazyLoad('tenuti', $event)"></app-advanced-table>
        </p-tabPanel>
        <p-tabPanel header="Corsi frequentati">
          <app-advanced-table
            rowID="corsoId"
            [columns]="columns"
            [rows]="listSeguiti"
            [class]="['table-hover', 'table-responsive-xl']"
            [rowClickable]="true"
            [loading]="loadingCoursesSeguiti"
            [totalRecords]="totalRecordsSeguiti"
            [resultsPerPage]="resultsPerPageSeguiti"
            [exportAsCSV]="true"
            [enableChangeResultsPerPage]="false"
            [singleSort]="false"
            (changeResultsPerPageEvent)="changeResultsPerPage('seguiti', $event)"
            (rowClickedEvent)="rowClicked($event)"
            (pageChanged)="pageChanged('seguiti', $event)"
            (loadLazyEvent)="lazyLoad('seguiti', $event)"></app-advanced-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-container>

</div>

<p-toast [baseZIndex]="2000"></p-toast>
