<div class="container-fluid">

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <p *ngFor="let error of errors" [innerHTML]="error" style="margin-bottom: 0;"></p>
  </div>

  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center">Valutazioni</h1>

  <div *ngIf="errors.length === 0">

    <app-advanced-table
      rowID="corsoId"
      cache="courses-gestione-corsi"
      *ngIf="visible"
      [dColumns]="columns"
      [rows]="courses"
      [class]="['table-hover', 'table-responsive-xl']"
      [actions]="actions"
      [rowClickable]="true"
      [search]="search"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [resultsPerPage]="resultsPerPage"
      [exportAsCSV]="true"
      [enableChangeResultsPerPage]="false"
      [multiSort]="true"
      (changeResultsPerPageEvent)="changeResultsPerPage($event)"
      (actionBtnEvent)="actionBtnClicked($event)"
      (rowClickedEvent)="rowClicked($event)"
      (loadLazyEvent)="lazyLoad($event)"
      (pageChanged)="pageChanged($event)"
      (searchEvent)="searchFn($event)">
    </app-advanced-table>

    <p-toast [baseZIndex]="2000"></p-toast>

  </div>

</div>
