.container-fluid {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.error {
  font-size: x-small;
  color: red;
}

input[readonly], textarea[readonly] {
  background-color: #f3f3f3;
}

.pb-3 {
  padding-top: 1.5rem;
}
