<div class="animated fadeIn container-fluid mb-md-3">

  <ng-container *ngIf="teacher !== null || operation === Operation.CREATE">
    <button *ngIf="(operation === Operation.READ || operation === Operation.UPDATE) && deleted === null"
            (click)="showDialog()"
            class="btn btn-danger float-sm-right color-white" style="margin-right: 1rem; color: black"><span
      class="cil cil-trash"></span>&nbsp;Elimina
    </button>
    <button *ngIf="operation === Operation.READ && deleted === null" [routerLink]="'/teachers/edit/' + id"
            class="btn btn-warning float-sm-right" style="margin-right: 1rem"><span class="cil cil-pencil"></span>&nbsp;Modifica
    </button>

    <button *ngIf="deleted !== null && operation !== Operation.CREATE" (click)="deleteDefinitively()"
            class="btn btn-danger float-sm-right color-white" style="margin-right: 1rem; color: black"><span
      class="cil cil-trash"></span>&nbsp;Elimina definitivamente
    </button>

    <button *ngIf="deleted !== null && operation !== Operation.CREATE" (click)="restore()"
            class="btn btn-success float-sm-right color-white" style="margin-right: 1rem"><span
      class="fa fa-upload"></span>&nbsp;Recupera
    </button>

    <h3>
      {{ operation === Operation.READ ? ((teacher?.titolo || '') + ' ' + (teacher?.ragioneSociale || '')) : (operation === Operation.CREATE ? 'Inserisci' : 'Modifica') + ' docente' }}
      <p-message severity="warn" text="Si tratta di un docente che è stato cestinato!"
                 *ngIf="deleted !== null && operation !== Operation.CREATE"></p-message>
    </h3>

    <p *ngIf="operation !== Operation.READ">I campi segnati con * sono obbligatori</p>
    <p *ngIf="operation === Operation.READ">&nbsp;</p>

    <div class="pb-3" style="margin-top: -2rem">
      <p-tabView>
        <p-tabPanel header="Anagrafica">
          <div style="clear: both"></div>
          <form [formGroup]="form">
            <div class="form-group row">
              <div class="col-md-2 my-auto">
                <h5>Identificativo:</h5>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <label for="titolo">Titolo</label><br/>
                <p-autoComplete (completeMethod)="filterTitles($event)" *ngIf="operation!==Operation.READ"
                                [(ngModel)]="title"
                                [dropdown]="operation !== Operation.READ" [readonly]="operation === Operation.READ"
                                [suggestions]="titles"
                                autofocus class="ui-fluid"
                                formControlName="titolo" id="titolo"
                                placeholder="Titolo"
                                styleClass="primeng-autocomplete-form-control readonly"></p-autoComplete>
                <input *ngIf="operation===Operation.READ" [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="titolo" pInputText type="text">
              </div>
              <div class="col-md-4">
                <label for="ragioneSociale">Ragione sociale *</label>
                <input #ragioneSociale [ngClass]="{ 'is-invalid': submitted && f.ragioneSociale.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="ragioneSociale" id="ragioneSociale" name="ragioneSociale" pInputText
                       placeholder="Ragione sociale" required type="text">
                <div *ngIf="submitted && f.ragioneSociale.errors" class="invalid-feedback">
                  <div *ngIf="f.ragioneSociale.errors.required"><i class="fa fa-times-circle mr-1"></i>Ragione sociale non valida...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="partitaIva">Partita Iva *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.partitaIva.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="partitaIva"
                       id="partitaIva" maxlength="11" pInputText pKeyFilter="num" pKeyFilter="num"
                       placeholder="Partita Iva"
                       required type="text">
                <div *ngIf="submitted && f.partitaIva.errors" class="invalid-feedback">
                  <div *ngIf="f.partitaIva.errors.required"><i class="fa fa-times-circle mr-1"></i>Partita IVA non valida...</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Indirizzo:</h5>
              </div>
              <div class="col-md-3">
                <label for="indirizzo">Indirizzo *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.indirizzo.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="indirizzo"
                       id="indirizzo"
                       pInputText placeholder="Indirizzo" required type="text">
                <div *ngIf="submitted && f.indirizzo.errors" class="invalid-feedback">
                  <div *ngIf="f.indirizzo.errors.required"><i class="fa fa-times-circle mr-1"></i>Indirizzo non valido...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="localita">Località *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.localita.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="localita"
                       id="localita"
                       pInputText placeholder="Località" required type="text">
                <div *ngIf="submitted && f.localita.errors" class="invalid-feedback">
                  <div *ngIf="f.localita.errors.required"><i class="fa fa-times-circle mr-1"></i>Località non valida...</div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="provincia">Provincia *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="provincia"
                       id="provincia"
                       maxlength="2" pInputText placeholder="Provincia" required type="text">
                <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
                  <div *ngIf="f.provincia.errors.required"><i class="fa fa-times-circle mr-1"></i>Provincia non valida...</div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="nazione">Nazione *</label><br/>
                <p-autoComplete (completeMethod)="filterCountries($event)" *ngIf="operation !== Operation.READ"
                                [(ngModel)]="country" [delay]="0"
                                [inputStyleClass]="submitted && f.nazione.errors ? 'is-invalid' : null"
                                [inputStyle]="{'width':'100%'}" [readonly]="operation === Operation.READ"
                                [style]="{'width':'100%'}"
                                [suggestions]="countries"
                                field="name" formControlName="nazione" id="nazione" placeholder="Nazione"
                                styleClass="primeng-autocomplete-form-control readonly"></p-autoComplete>
                <input *ngIf="operation===Operation.READ" [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="nazione" pInputText type="text">
                <div *ngIf="submitted && f.nazione.errors" class="invalid-feedback" style="display: block">
                  <i class="fa fa-times-circle mr-1"></i>Nazione non valida...
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Contatti:</h5>
              </div>
              <div class="col-md-4">
                <label for="email">Email *</label><br/>
                <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [pKeyFilter]="blockSpace"
                       [readOnly]="operation === Operation.READ" class="form-control"
                       formControlName="email" id="email" pInputText placeholder="Email" required type="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required"><i class="fa fa-times-circle mr-1"></i>Email non valida...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="telefono">Telefono *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="telefono"
                       id="telefono" pInputText placeholder="Telefono" required type="text">
                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                  <div *ngIf="f.telefono.errors.required"><i class="fa fa-times-circle mr-1"></i>Telefono non valido...</div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="fax">Fax</label>
                <input [readOnly]="operation === Operation.READ" class="form-control" formControlName="fax" id="fax"
                       pInputText [placeholder]="operation === Operation.READ ? '' : 'Fax'" type="text">
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Referente:</h5>
              </div>
              <div class="col-md-4">
                <label for="referente">Referente *</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.referente.errors }"
                       [readOnly]="operation === Operation.READ" class="form-control" formControlName="referente"
                       id="referente"
                       pInputText placeholder="Referente" required type="text">
                <div *ngIf="submitted && f.referente.errors" class="invalid-feedback">
                  <div *ngIf="f.referente.errors.required"><i class="fa fa-times-circle mr-1"></i>Referente non valido...</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row align-items-center">
              <div class="col-md-2 my-auto">
                <h5>Note:</h5>
              </div>
              <div class="col-md-5">
          <textarea [readOnly]="operation === Operation.READ" class="form-control" formControlName="noteGeneriche"
                    id="noteGeneriche"
                    [placeholder]="operation === Operation.READ ? '' : 'Inserisci note generiche riguardo il docente (facoltativo) ...'"

                    rows="2"></textarea>
              </div>
            </div>
            <div *ngIf="operation === Operation.CREATE || operation === Operation.UPDATE" class="form-group row">
              <div class="col-md-12 text-right">
                <input (click)="takeAction()" [disabled]="loading"
                       [value]="id ? 'Modifica' : 'Inserisci'"
                       class="btn btn-success rounded" type="submit">
              </div>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel *ngIf="operation === Operation.READ" header="Corsi tenuti">
          <app-advanced-table
            (changeResultsPerPageEvent)="changeResultsPerPage($event)"
            (loadLazyEvent)="lazyLoad($event)"
            (rowClickedEvent)="rowClicked($event)"
            *ngIf="visible"
            [class]="['table-hover', 'table-responsive-xl']"
            [columns]="columns"
            [enableChangeResultsPerPage]="false"
            [exportAsCSV]="true"
            [loading]="loadingCourses"
            [resultsPerPage]="resultsPerPage"
            [rowClickable]="true"
            [rows]="list"
            [singleSort]="false"
            [totalRecords]="totalRecords"
            (pageChanged)="pageChanged($event)"
            rowID="corsoId"></app-advanced-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-container>

  <p-toast [baseZIndex]="2000"></p-toast>

</div>

<p-dialog header="Elimina docente" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="1000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei sicuro di voler cestinare questo docente?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="deleteTeacher()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Elimina docente definitivamente" [(visible)]="deleteDef" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="1000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei sicuro di voler eliminare
    <b>definitivamente</b> questo corso?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="yesDeleteDefinitively()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="deleteDef=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Recupera docente" [(visible)]="restoreTeacher" [modal]="true" [style]="{width: '30vw'}"
          [baseZIndex]="1000"
          [draggable]="false" [resizable]="false" rtl="true" [dismissableMask]="true">
  <p style="text-align: center"><span class="cil cil-warning"></span> Sei sicuro di voler <b>recuperare</b> questo
    corso?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="yesRestore()" label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="restoreTeacher=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
