@import "src/scss/variables";

h1 {
  font-size: 1.5rem;
  margin-top: .3rem;
}

main {
  & > .page-content {
    @media all and (max-width: $media-breakpoint-md) {
      margin-top: -2rem;
      padding: 0;
    }
  }
}

.search {
  cursor: pointer;
}
