<div class="animated fadeIn container-fluid">

  <div *ngIf="errors.length > 0" class="alert alert-danger">
    <p *ngFor="let error of errors" [innerHTML]="error" style="margin-bottom: 0;"></p>
  </div>

  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center">Elenco docenti</h1>

  <div *ngIf="errors.length === 0">
    <p-tabView>
      <p-tabPanel header="Docenti esterni" leftIcon="cil cil-user">
        <app-advanced-table
          (actionBtnEvent)="actionBtnClicked('esterno', $event)"
          (changeResultsPerPageEvent)="changeResultsPerPage($event)"
          (headerBtnEvent)="headerBtnClicked($event)"
          (loadLazyEvent)="lazyLoad('esterno', $event)"
          (pageChanged)="pageChanged('esterno', $event)"
          (rowClickedEvent)="rowClicked('esterno', $event)"
          (searchEvent)="searchFn('esterno', $event)"
          *ngIf="visible"
          [actions]="actions"
          [class]="['table-hover', 'table-responsive-xl']"
          [dColumns]="columns"
          [enableChangeResultsPerPage]="false"
          [exportAsCSV]="true"
          [headerBtns]="headersBtns"
          [loading]="loading"
          [multiSort]="true"
          [resultsPerPage]="resultsPerPage"
          [rowClickable]="true"
          [rows]="list"
          [search]="search"
          [totalRecords]="totalRecords"
          cache="teachers-gestione-corsi"
          rowID="docenteId"></app-advanced-table>
      </p-tabPanel>
      <p-tabPanel header="Docenti interni" leftIcon="cil cil-people">
        <app-advanced-table
          rowID="dipendenteId"
          cache="employees-gestione-corsi"
          [dColumns]="columnsInterno"
          [rows]="employees"
          [class]="['table-hover', 'table-responsive-xl']"
          [actions]="actionsInterno"
          [rowClickable]="true"
          [search]="searchInterno"
          [loading]="loadingInterno"
          [totalRecords]="totalRecordsInterno"
          [resultsPerPage]="resultsPerPageInterno"
          [exportAsCSV]="true"
          [enableChangeResultsPerPage]="false"
          [singleSort]="false"
          [multiSort]="false"
          (actionBtnEvent)="actionBtnClicked('interno', $event)"
          (changeResultsPerPageEvent)="changeResultsPerPage($event)"
          (rowClickedEvent)="rowClicked('interno', $event)"
          (loadLazyEvent)="lazyLoad('interno', $event)"
          (pageChanged)="pageChanged('interno', $event)"
          (searchEvent)="searchFn('interno', $event)"></app-advanced-table>
      </p-tabPanel>
    </p-tabView>

    <p-confirmDialog [baseZIndex]="1000" header="Confermare eliminazione" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>

    <p-toast [baseZIndex]="2000"></p-toast>
  </div>

</div>
