<div class="animated fadeIn mb-md-3 ml-3 mr-3" style="margin-top: 2rem;">
  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center">Tipi di corso</h1>
  <p-card>
    <div class="row align-items-center" style="margin: auto">
      <div class="col-md-4">
        <form [formGroup]="form">
          <input type="text" id="descrizione" class="form-control" placeholder="Descrizione" aria-label="Descrizione"
                 aria-describedby="basic-addon1" formControlName="descrizione">
        </form>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="add()" class="btn btn-success"><i class="pi pi-plus"></i> Inserisci</button>
      </div>
      <!--<div class="col-md-6">
        <select (change)="changeResultsPerPage($event)" class="custom-select float-right ml-1" style="width: auto">
          <option value="10">10 elementi per pagina</option>
          <option value="20">20 elementi per pagina</option>
          <option value="30">30 elementi per pagina</option>
          <option value="40">40 elementi per pagina</option>
          <option value="50">50 elementi per pagina</option>
        </select>
      </div>-->
    </div>
    <div class="box" *ngFor="let type of types">
      <h5>{{type.descrizione}}</h5>
      <button type="button" pButton icon="pi pi-search" class="ui-button-primary"
              [routerLink]="'/types/' + type.tipoId"></button>
      <button type="button" pButton icon="pi pi-pencil" (click)="showModalDialog(type)"
              class="ui-button-warning"></button>
      <button type="button" pButton icon="pi pi-trash" (click)="delete(type)" class="ui-button-danger"></button>
    </div>
    <p-paginator [rows]="resultsPerPage" [totalRecords]="totalRecords" pageLinkSize="{{this.pages}}"
                 (onPageChange)="paginate($event)"></p-paginator>
  </p-card>

  <p-dialog *ngIf="type != null" header="Modifica tipo" [(visible)]="displayModal" [modal]="true"
            [style]="{width: '27%'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
            style="overflow-y: visible">
    <form [formGroup]="form2" (ngSubmit)="update()">
      <div class="form-group col-12">
        <div class="row">
          <div class="col-md-3" style="align-self: center">
            <label for="descrizione">Descrizione: </label>
          </div>
          <div class="col-md-9">
            <input type="text" id="{{type.tipoId}}" class="ml-3 form-control" placeholder="{{type.descrizione}}"
                   aria-label="Descrizione" aria-describedby="basic-addon1" formControlName="descrizione">
          </div>
        </div>
      </div>
      <button type="submit" pButton icon="pi pi-pencil" class="ui-button-warning float-md-right"
              label="Modifica"></button>
    </form>
  </p-dialog>

  <p-confirmDialog header="Elimina tipo" icon="pi pi-exclamation-triangle" [baseZIndex]="1000"></p-confirmDialog>

  <p-toast [baseZIndex]="2000"></p-toast>

</div>
