.box {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  width: 100%;
  max-width: 295px;
  text-align: center;

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
