@mixin darkComponent() {
  @media (prefers-color-scheme: dark) {
    background-color: #2F353A !important;
    color: white !important;
  }
}

// Here you can add other styles
html, body {
  background-color: $backgroundColor;
}

hr {
  border-top: 1px solid $borderColor;
}

.page-content {
  padding: 0 !important;
}

@media all and (max-width: $media-breakpoint-md) {
  .display-none-md {
    display: none;
  }
}

.app-header {
  @media (prefers-color-scheme: dark) {
    background-color: #262A2E;
    color: white;
    border-bottom: 0;
  }
}

.sidebar {
  @media (prefers-color-scheme: light) {
    background-color: #f0f3f5;
    color: black;
  }

  .nav-item {
    .nav-link {
      transition: .2s ease-in-out;

      @media (prefers-color-scheme: light) {
        color: black;

        &.active {
          color: white;
        }
      }

      &:hover, &:focus {
        background-color: #4B9FFB;
        color: white !important;
      }

      &.active {
        background-color: #007AFF;

        .nav-icon {
          color: white;
        }
      }
    }
  }

  .nav-dropdown.open, .nav-dropdown-items {
    @media (prefers-color-scheme: light) {
      background-image: linear-gradient(to left, #4C9FFB, #007AFF) !important;

      .nav-link {
        color: white !important;
      }
    }

    .nav-icon {
      color: white;
    }
  }

  @media (prefers-color-scheme: light) {
    .sidebar-minimizer {
      transition: .2s ease-in-out;
      background-color: rgb(214, 214, 214) !important;

      &:hover, &:focus {
        background-color: rgb(202, 202, 202) !important;
      }
    }
  }
}

.main > * > .breadcrumb {
  margin-bottom: 0;

  @media (prefers-color-scheme: dark) {
    background-color: #2F353A;
    color: white;
  }
}

.search {
  border-radius: .2rem;

  &, * {
    border: 0;
    transition: .2s ease-in-out;
  }

  .input-group-text {
    color: #bfbfbf;
    background-color: white;

    @media (prefers-color-scheme: dark) {
      background-color: #262A2E;
      color: white;
    }
  }

  input {
    background-color: white;

    @media (prefers-color-scheme: dark) {
      background-color: #262A2E;
      color: white;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);

    .input-group-text, input {
      background-color: white;

      @media (prefers-color-scheme: dark) {
        background-color: #262A2E;
        color: white;
      }
    }
  }
}

.primeng-autocomplete-form-control {
  & > .ui-inputtext {
    width: calc(100% - 2rem);
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: -.3rem;

    &:hover {
      border: 1px solid #e4e7ea !important;
    }
    &:focus {
      color: #5c6873;
      background-color: #fff;
      border-color: #8ad4ee;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25) !important;
    }
  }

  & > .ui-autocomplete-dropdown {
    height: calc(1.5em + .75rem + 2px);
  }
}

.global-search {
  width: 100%;
  max-width: 50vw;

  @media all and (max-width: $media-breakpoint-md) {
    max-width: none;
  }

  & > div {
    overflow-x: hidden;
  }
}

.color-white {
  color: white !important;
}

.ui-sidebar {
  overflow-y: auto;
  max-height: 100%;
}

.ui-toast-detail {
 white-space: pre-line;
}

.ui-table-wrapper * {
  overflow-wrap: break-word;
}

.app-footer {
  @media (prefers-color-scheme: dark) {
    border-top: 1px solid transparent;
    background-color: #2F353A;
    color: white;
  }
}

.main {
  @media (prefers-color-scheme: dark) {
    background-color: #262A2E;
    color: white;
  }
}

.breadcrumb {
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid transparent;
  }
}

.ui-table {
  @include darkComponent();

  .ui-table-caption, .ui-table-summary {
    @include darkComponent();

    @media (prefers-color-scheme: dark) {
      border: 1px solid transparent !important;
    }
  }

  .ui-table-thead > tr > th {
    @include darkComponent();

    @media (prefers-color-scheme: dark) {
      border: 1px solid transparent !important;
    }
  }

  .ui-table-tbody > tr > td {
    @media (prefers-color-scheme: dark) {
      background-color: #262A2E !important;
      color: white !important;
      border: 1px solid #595f63 !important;
    }
  }

  .ui-table-tbody > tr:nth-child(2n) > td {
    @include darkComponent();

    @media (prefers-color-scheme: dark) {
      border: 1px solid #595f63 !important;
    }
  }
}

.ui-paginator {
  @include darkComponent();
  @media (prefers-color-scheme: dark) {
    border: 1px solid transparent !important;
  }
  border-bottom: none !important;

  .ui-paginator-page, .ui-paginator-next, .ui-paginator-last, .ui-paginator-first, .ui-paginator-prev {
    &:not(.ui-state-active):hover {
      @media (prefers-color-scheme: dark) {
        background-color: #262A2E !important;
        color: white !important;
      }
    }
  }
}

input[type='text'], input[type='number'], input[type='email'], textarea, select, .ui-selectbutton .ui-button:not(.ui-state-active), .ui-inputswitch:not(.ui-inputswitch-checked) .ui-inputswitch-slider, .input-group-text {
  @media (prefers-color-scheme: dark) {
    background-color: #262A2E !important;
    border: 1px solid transparent !important;
    color: white !important;
  }
}

.ui-tabview {
  .ui-tabview-panels {
    @media (prefers-color-scheme: dark) {
      background-color: #2F353A !important;
      border: 1px solid transparent !important;
      color: white !important;
    }
  }
}

.ui-autocomplete-panel {
  @media (prefers-color-scheme: dark) {
    background-color: #2F353A !important;
    border: 1px solid transparent !important;
    color: white !important;
  }

  .ui-autocomplete-list-item {
    @media (prefers-color-scheme: dark) {
      color: white !important;
    }
  }
}

.ui-card {
  @media (prefers-color-scheme: dark) {
    background-color: #2F353A !important;
    box-shadow: none !important;
    color: white !important;
  }
}

.ui-dialog {
  .ui-dialog-titlebar, .ui-dialog-footer {
    @media (prefers-color-scheme: dark) {
      background-color: #262A2E !important;
      box-shadow: none !important;
      color: white !important;
      border: 1px solid transparent !important;
    }
  }

  .ui-dialog-content {
    @media (prefers-color-scheme: dark) {
      background-color: #2F353A !important;
      box-shadow: none !important;
      color: white !important;
      border: 1px solid transparent !important;
    }
  }
}

.ui-sidebar {
  @media (prefers-color-scheme: dark) {
    background-color: #2F353A !important;
    color: white !important;
    border: 1px solid transparent !important;
  }
}

.text-black-50 {
  @media (prefers-color-scheme: dark) {
    color: lightgray !important;
  }
}

.ui-tabview {
  &.ui-tabview-top {
    .ui-tabview-nav {
      li:not(.ui-state-active) {
        &, a {
          @media (prefers-color-scheme: dark) {
            background-color: #2F353A !important;
            color: white !important;
            border: 1px solid transparent !important;
          }
        }
      }
    }
  }
}

.ui-accordion {
  .ui-accordion-header {
    a {
      @media (prefers-color-scheme: dark) {
        background-color: #2F353A !important;
        color: white !important;
        border: 1px solid transparent !important;
      }
    }
  }

  .ui-accordion-content {
    @media (prefers-color-scheme: dark) {
      background-color: #2F353A !important;
      color: white !important;
      border: 1px solid transparent !important;
    }
  }
}

table {
  tr {
    td {
      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }
}

.ui-rating {
  a {
    @media (prefers-color-scheme: dark) {
      color: white !important;
    }
  }
}

.cil-external-link {
  display: inline-block;
  position: relative;
  top: -.3rem;
  font-size: .8em;
  margin-left: .2rem;
}

.ui-datepicker {
  &, & .ui-datepicker-header {
    @media (prefers-color-scheme: dark) {
      background-color: #2F353A !important;
      color: white !important;
      border: 1px solid transparent !important;
    }
  }

  &:not(.ui-state-disabled) {
    table {
      td {
        a:not(.ui-state-active):not(.ui-state-highlight) {
          &:hover {
            @media (prefers-color-scheme: dark) {
              background-color: #262A2E !important;
              color: white !important;
            }
          }
        }

        &.ui-datepicker-today {
          & > a {
            @media (prefers-color-scheme: dark) {
              background-color: #262A2E !important;
              color: white !important;
            }
          }
        }
      }
    }
  }
}

.ui-progressbar {
  @media (prefers-color-scheme: dark) {
    background-color: #262A2E !important;
  }
}

.is-invalid {
  border: 1px solid red !important;
}
