@mixin box-shadow($outline-inset, $horizontal-length, $vertical-length, $blur-radius, $spread-radius, $color) {
  -webkit-box-shadow: $outline-inset $horizontal-length $vertical-length $blur-radius $spread-radius $color;
  -moz-box-shadow: $outline-inset $horizontal-length $vertical-length $blur-radius $spread-radius $color;
  box-shadow: $outline-inset $horizontal-length $vertical-length $blur-radius $spread-radius $color;
}
