// Variable overrides
$backgroundColor: white;
$borderColor: #E5E5E5;
$borderRadius: 1rem;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$accentPrimary: #4B9FFB;
