<div class="app flex-row align-items-center">
  <div class="animated fadeIn container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <img src="assets/img/brand/logo.png" class="img-fluid mb-3"/>
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! Ti sei perso?</h4>
          <p class="text-muted">La pagina che stavi cercando non &egrave; stata trovata.</p>
        </div>
        <div class="mt-3">
          <p>Che ne dici di tornare alla pagina iniziale? <a routerLink="/"
                                                             class="btn btn-primary text-white float-right">Dashboard</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
