<div class="animated fadeIn container-fluid">

  <div class="alert alert-danger" *ngIf="errors.length > 0">
    <p *ngFor="let error of errors" [innerHTML]="error" style="margin-bottom: 0;"></p>
  </div>

  <h1 style="margin-bottom: 1.2rem; margin-top: -1rem; text-align: center">Elenco dipendenti</h1>

  <div *ngIf="errors.length === 0">

    <app-advanced-table
      rowID="dipendenteId"
      cache="employees-gestione-corsi"
      [dColumns]="columns"
      [rows]="employees"
      [class]="['table-hover', 'table-responsive-xl']"
      [actions]="actions"
      [rowClickable]="true"
      [search]="search"
      [loading]="loading"
      [totalRecords]="totalRecords"
      [resultsPerPage]="resultsPerPage"
      [exportAsCSV]="true"
      [enableChangeResultsPerPage]="false"
      [multiSort]="true"
      (actionBtnEvent)="actionBtnClicked($event)"
      (changeResultsPerPageEvent)="changeResultsPerPage($event)"
      (rowClickedEvent)="rowClicked($event)"
      (loadLazyEvent)="lazyLoad($event)"
      (pageChanged)="pageChanged($event)"
      (searchEvent)="searchFn($event)"></app-advanced-table>

    <p-toast [baseZIndex]="2000"></p-toast>
  </div>

</div>

